<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="../static/bootstrap/js/jquery.js"></script>
    <title>Boton de panico.</title>
</head>
<body>

<form method="post" action="{{url_for('generar_dato')}}" style="border: 1px solid; margin-top: 100px; border-radius: 10px" class="col-lg-4   col-sm-8  col-md-8 offset-sm-2 offset-sm-2  offset-lg-4">
    <div class="row" style="margin-top: 15px"> 
        <div class="input-group">
            <label class="col-2">Nombres:</label>
            <input type="text" name="text_name" class="col-8 offset-1 form-control" placeholder="Ingrese sus dos nombres.">
        </div>
    </div>
    <div class="row" style="margin-top: 15px"> 
        <div class="input-group">
            <label class="col-2">Apellidos:</label>
            <input type="text" name="text_second_name" class="col-8 offset-1 form-control" placeholder="Ingresesus dos apellidos">
        </div>
    </div>
    <div class="row" style="margin-top: 15px"> 
        <div class="input-group">
            <label class="col-2">Correo:</label>
            <input type="email" class="col-8 offset-1 form-control"  name="text_email" placeholder="Ingrese el correo de su persona de confianza">
        </div>
    </div>
    <div class="row" style="margin-top: 15px"> 
        <div class="input-group">
            <button class="btn btn-info col-3 offset-8" style="margin-bottom: 15px">Registrarse</button>
        </div>
    </div>

</form>

</body>
</html>